.language > a {
    display:inline-block;
    width:24px;
    height:22px;
    margin-top: 7px;
    text-indent: 99999999px;
    margin-left:0;
}
.language > a.fr {
    background-image: url("../Images/France-flag-24.png");
}
.language > a.en {
    background-image: url("../Images/United-Kingdom-flag-24.png");
}
.language > a.zh {
    background-image: url("../Images/China-flag-24.png");
}
.leftsidebar {
    background-color: #808080;
    height: 200px;
    width: 200px;
	position:fixed;
}
.sidebar {
    background-color: #808080;
    height: 200px;
    width: 200px;
}
.rightsidebar {
	float:left;
}
.rightsidebar {
	float:right;
}
hgroup {
    padding: 70px 0 40px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    letter-spacing: 1px;
    margin: 0 0 11.2px;
    text-rendering: optimizelegibility;
}

.page-body{
	margin-left:230px;
}
.flag1{
	display:inline-block;
    width:24px;
    height:22px;
    margin-top: 7px;
    text-indent: 99999999px;
    margin-left:0;
	background-image: url("../Images/France-flag-24.png");
}
ul{
	list-style-type:none;
}