.language > a {
    display:inline-block;
    width:24px;
    height:22px;
    margin-top: 7px;
    text-indent: 99999999px;
    margin-left:0;
}
.language > a.fr {
    background-image: url("../Images/France-flag-24.png");
}
.language > a.en {
    background-image: url("../Images/United-Kingdom-flag-24.png");
}
.language > a.zh {
    background-image: url("../Images/China-flag-24.png");
}
.sidebar {
    background-color: #808080;
    float: left;
    height: 200px;
    margin-right: 30px;
    width: 200px;
}
hgroup {
    padding: 70px 0 40px;
}
.page-body{
	float:left;
}